.grid-container {
	display: grid;
	grid-template-columns: 50% 50%;
	gap: 20px;
}

.title {
	margin-bottom: 10px;
}

.renderItems {
	border-radius: 10px;
	margin: 10px auto 0 auto;
	overflow-y: scroll;
}

.music-selectedlist {
	max-height: 262px;
}

.music-searchlist {
	height: 520px;
}

.renderItems::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
.renderItems::-webkit-scrollbar-track {
	background-color: transparent;
	border-radius: 10px;
}
.renderItems::-webkit-scrollbar-thumb {
	background-color: rgb(238, 238, 238, 0.8);
	border-radius: 10px;
}

@media all and (max-width: 1100px) {
	.title {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.renderItems {
		margin-top: 5px;
	}
	.grid-container {
		display: unset;
	}
}
