.App {
	text-align: center;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-track {
	background-color: transparent;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(232, 10, 10, 0.163);
	border-radius: 10px;
}

body {
	font-family: "Roboto";
	background-color: #3a0556;
	background-size: 40% auto;
	background-repeat: repeat;
	color: #dbc2cf;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

html {
	scroll-behavior: smooth;
}

.container {
	max-width: 1170px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

header h1 {
	font-size: 60px;
	text-align: center;
	letter-spacing: 10px;
	color: #d5dde6;
}

header {
	background-color: #50980c;
	height: 80px;
	margin-bottom: 10px;
}

@media all and (max-width: 670px) {
	header h1 {
		font-size: 40px;
	}

	header {
		margin-bottom: 10px;
		height: 50px;
	}
}
